.about-description-wrapper {
	margin-left: 48px;
}

@media (max-width: 991px) {
	.about-description-wrapper {
		margin-left: 0px;
	}
}

.banner {
	display: flex;
	flex-direction: column;
	position: relative;
	isolation: isolate;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.banner__content {
	padding: 80px 0px;
	margin-top: auto;
	margin-bottom: auto;
}

@media (max-width: 575px) {
	.banner__content {
		padding: 40px 0px;
	}
}

.about-banner {
	padding: 30px 15px;
	background-color: hsl(var(--base) / 0.7);
}

@media screen and (min-width: 375px) {
	.about-banner {
		padding: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.about-banner {
		padding: 36px;
	}
}

.about-banner__title {
	margin: 0;
	text-align: center;
	color: hsl(var(--white));
	font-size: clamp(1rem, 1.8vw + 1rem, 1.5rem);
}

.banner::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: hsl(var(--black) / 0.7);
	mix-blend-mode: darken;
	z-index: -1;
}

.section__subtitle {
	display: inline-block;
	position: relative;
	font-size: 0.875rem;
	letter-spacing: 0.3em;
	color: hsl(var(--base)) !important;
	font-weight: 500;
}

.section__title {
	position: relative;
	isolation: isolate;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

@media (max-width: 991px) {
	.section__title {
		font-size: 1.5rem;
	}
}

/*---------------------------------------
    Counter Card
-----------------------------------------*/
.counter-section__container {
	border-radius: 10px;
	border: 1px solid hsl(var(--border) / 0.5);
	box-shadow: 0 0 10px hsl(var(--base) / 0.06);
	background: hsl(var(--white));
	padding: 15px 0px;
}

.counter-list {
	--gap: 0;
}

@media (max-width: 575px) {
	.counter-section__container .counter-list {
		display: flex;
		margin: 0;
		flex-wrap: wrap;
		padding: 0;
		list-style: none;
		gap: 0px;
		flex-direction: row;
	}

	.counter-list li {
		width: 50%;
	}
}

@media screen and (min-width: 576px) {
	.counter-list {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media screen and (min-width: 992px) {
	.counter-list li:last-child::after {
		display: none;
	}
}

@media screen and (min-width: 576px) {
	.counter-list li {
		width: calc(50% - 1.5rem);
	}
}

@media screen and (min-width: 992px) {
	.counter-list li {
		width: calc(25% - 1rem);
		position: relative;
		isolation: isolate;
	}

	.counter-list li::after {
		content: "";
		width: 1px;
		height: 50px;
		position: absolute;
		top: 50%;
		right: -0.5rem;
		transform: translateY(-50%);
		background: hsl(var(--black) / 0.2);
	}
}

.counter-list__card {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	flex-shrink: 0;
	padding: 15px;
}

.counter-list__card-head {
	text-align: center;
}

.counter-list__card-head img {
	width: 35px !important;
	height: 35px !important;
	margin-bottom: 20px;
}

.counter-list__card-img {
	flex-shrink: 0;
}

.counter-list__card-title {
	display: block;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1;
	color: hsl(var(--heading-color));
}

@media screen and (max-width: 767px) {
	.counter-list__card-title {
		font-size: 1.125rem;
	}
}

@media screen and (max-width: 1199px) {
	.counter-list__card-title {
		font-size: 1.5rem;
	}
}

.counter-list__card-body {
	display: block;
	font-weight: 500;
	line-height: 1;
	text-align: center;
}

@media (max-width: 575px) {
	.counter-list__card-body {
		font-size: 0.75rem;
	}

	.counter-list__card-title {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1400px) {
	.counter-list__card-body {
		margin-top: 0.5rem;
	}
}

/*---------------------------------------
    Testimonial
-----------------------------------------*/

.testimonial {
	position: relative;
	isolation: isolate;
	background: hsl(var(--light-2));
}

@media (max-width: 767px) {
	.testimonial {
		padding: 40px 0px;
	}
}

.testimonial__img {
	max-height: 420px;
	object-fit: contain;
}

.testimonial__content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.testimonial__quote {
	width: 60px;
	height: 60px;
	line-height: 1;
	object-fit: contain;
}

.testimonial__text {
	margin-bottom: 0;
	font-size: 1.125rem;
}

@media (max-width: 767px) {
	.testimonial__text {
		font-size: 0.875rem;
	}
}

.testimonial__title {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
	.testimonial__title {
		font-size: 1.125rem;
	}
}

@media (max-width: 575px) {
	.testimonial__title {
		font-size: 1.25rem;
	}
}

.testimonial__cite {
	display: block;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1;
}

/*---------------------------------------
    Feature Card
-----------------------------------------*/
.feature-card {
	display: grid;
	gap: 1rem;
	padding: 30px;
	border: 1px solid hsl(var(--border) / 0.8);
	border-radius: 5px;
	background: hsl(var(--white));
	height: 100%;
}

@media (max-width: 575px) {
	.feature-card {
		padding: 20px !important;
	}
}

.feature-card--list li {
	padding: 0px;
}

@media screen and (min-width: 768px) {
	.feature-card--list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.feature-card--list li {
		width: calc(50% - 1rem);
		flex-shrink: 0;
		flex-grow: 1;
	}
}

@media screen and (min-width: 992px) {
	.feature-card--list {
		flex-direction: column;
	}

	.feature-card--list li {
		width: 100%;
	}
}

.feature-card__head {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.feature-card__icon {
	width: 40px;
	height: 40px;
	display: grid;
	place-content: center;
	flex-shrink: 0;
	border-radius: 50%;
	background: hsl(var(--base));
	color: hsl(var(--white));
	line-height: 1;
}

.feature-card__title {
	margin: 0;
	flex-grow: 1;
}

.section__head {
	padding-bottom: clamp(20px, 1vw, 30px);
}